.AnimalsPage{
    display: flex;
    flex-direction: column;
}

.custom-search-select{
    font-size: 16px;
    border: 2px solid #E63946;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    margin: 0 2%;
}