.Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E63946;
}

.logo {
    height: 80px;
    width: 80px;
}

.Menu .link{
    margin-left: 3%;
    color: #F1FAEE;
}

.Menu .link:hover{
    text-decoration: none;
    border-bottom: 1px solid #F1FAEE;
    transform: scale(1.5);
    transition-duration: 0.25s;
}
